/* Write your CSS here! */
p {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 80px;
    margin-left: 80px;
  }

  body {
    margin: 8;
    display: block;
  }

  img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
  }

  div {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  h2 {
    color: blue;
  }

  .label {
    color: purple;
  }

  #mainHeading {
    color: red;
  }
  